* {
  box-sizing: border-box;
  color: #c5c8c6;
  font-family: 'Open Sans', sans-serif;
  font-size: 3vw;
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.contact {
  align-items: center;
  display: flex;
  float: right;
  justify-content: flex-end;
  margin-top: 0.2rem;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.contact p {
  font-size: 0.3rem;
  cursor: pointer;
}
.contact img {
  cursor: pointer;
  margin-right: 0.2rem;
  height: 1rem;
}
.navigation {
  display: flex;
  flex-direction: column;
  left: 95%;
  position: fixed;
  top: 37.5%;
  z-index: 2;
}
.navigation ul {
  width: 0.75rem;
  list-style: none;
  position: absolute;
}
.navigation ul li {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 0.7rem;
}
.navigation img {
  cursor: pointer;
  height: 0.5rem;
}
.navigation img:hover {
  height: 0.6rem;
}
.container {
  bottom: 0;
  height: 100vh;
  position: relative;
  width: 100vw;
}
.page {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(12, calc(100vw / 12));
  grid-template-rows: repeat(3, calc(100vh / 3));
  height: 100vh;
  justify-items: center;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.page:nth-child(1) {
  background-image: linear-gradient(#000, #0e0d3b);
}
.page:nth-child(2) {
  background-image: linear-gradient(#0e0d3b, #2e1c54);
}
.page:nth-child(3) {
  background-image: linear-gradient(#2e1c54, #2d132c);
}
.page:nth-child(4) {
  background-image: linear-gradient(#2d132c, #801336);
}
.page:nth-child(5) {
  background-image: linear-gradient(#801336, #c72c41);
}
.page:nth-child(6) {
  background-image: linear-gradient(#c72c41, #ee4540);
}
.page .brand {
  grid-column: 5/9;
  grid-row: 2;
  width: 100%;
}
.page .brand h6 {
  font-weight: lighter;
  font-size: 0.5rem;
}
.page .brand img {
  height: 2rem;
}
.page .brand .arrow {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: ease-out;
  cursor: pointer;
  margin-top: 2rem;
  max-height: 1rem;
}
.page .brand .arrow img {
  height: 1rem;
  transition: 0.25s ease;
}
.page .brand .arrow:hover {
  animation-play-state: paused;
}
.page .brand .arrow:hover img {
  transform: scale(1.5);
}
.page .about {
  grid-column: 2/8;
  grid-row: 2;
}
.page p {
  font-size: 0.5rem;
  margin-top: 1.5rem;
}
.page p b {
  color: #88292f;
  font-size: 0.525rem;
}
.page .project-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-row: 2;
  justify-content: center;
}
.page .project-container img.project-image {
  border-radius: 30%;
  cursor: pointer;
  height: 20vh;
  position: absolute;
  transition: transform 0.25s ease, border-radius 0.5s ease;
}
.page .project-container .description {
  background-color: #a27e8e;
  border-radius: 1%;
  margin-left: -9999px;
  min-width: 20vw;
  opacity: 0;
  padding: 0.6rem 0.2rem;
  transition: 0.25s transform ease, opacity 1s ease;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 20%, 80% 0);
  width: 20vh;
}
.page .project-container .description h1 {
  font-size: 0.8rem;
  color: #c5c8c6;
}
.page .project-container .description p {
  font-size: 0.4rem;
  color: #c5c8c6;
  margin-top: 0.1rem;
}
.page .project-container .description p a {
  color: #88292f;
  text-decoration: none;
  font-size: inherit;
}
.page .project-container .description img {
  height: calc(20vh / 5);
}
.page .project-container .project-tools {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 20vh;
}
.page .project-container .project-tools img {
  height: calc(20vh / 4);
}
.page .project-container:nth-child(1) {
  grid-column: 2/4;
}
.page .project-container:nth-child(2) {
  grid-column: 5/7;
}
.page .project-container:nth-child(3) {
  grid-column: 8/10;
}
.page .project-container:hover img.project-image {
  border-radius: 0;
  transform: scale(1.3);
  z-index: 2;
}
.page .project-container:hover .description {
  margin-left: 1rem;
  opacity: 1;
  transform: translate(100%);
  z-index: 3;
}
.page .form {
  grid-column: 5/9;
  grid-row: 1;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.page .form form {
  font-size: 0.5rem;
}
.page .form form label {
  font-size: inherit;
}
.page .form form input {
  font-size: inherit;
  height: 0.75rem;
}
.page .form form textarea {
  background: transparent;
  color: transparent;
  font-size: inherit;
  height: 20vh;
  resize: none;
}
.page .form form .btn {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  font-weight: 400;
  height: 2em;
  line-height: 1.5;
  margin-top: 1em;
  padding: 0 0.75rem;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  vertical-align: middle;
}
.page .form form .btn:hover {
  color: #000;
  background-color: #e2e6ea;
  border-color: #e2e6ea;
}
.page .form form .form-control {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #495057;
  display: block;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  width: 100%;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.page .form form .form-control:focus {
  border: 1px solid #ced4da;
  outline: none;
}
.svg img {
  width: 25vh;
}
.svg#space-ship {
  grid-column-start: 2;
  grid-column-end: 5;
}
.svg#rocket {
  grid-column: 8/12;
  grid-row: 3;
}
.svg#meteorite {
  grid-column: 5/8;
  grid-row: 1;
}
.svg#meteorites {
  grid-column: 9/12;
  grid-row: 3;
}
.svg#plane {
  grid-column: 1/4;
  grid-row: 3;
}
.svg#cloud {
  grid-column: 1/4;
  grid-row: 2;
}
.svg#birds {
  grid-column: 10/12;
}
.svg#forest {
  position: absolute;
  bottom: -20%;
}
.svg#forest img {
  min-width: 100vw;
}
@media only screen and (max-aspect-ratio: 4/3) {
  * {
    font-size: 3vh;
  }
  .contact p {
    font-size: 0.5rem;
  }
  .contact img {
    margin-right: 0.5rem;
    height: 1.5rem;
  }
  .page .about {
    grid-column: 4/10;
    grid-row: 2;
  }
  .page .project-container .description {
    border-radius: 10%;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0%, 100% 0);
    max-width: calc(initial-project-image-size * 1.1);
  }
  .page .project-container .description p {
    font-size: 0.6rem;
  }
  .page .project-container:nth-child(1) {
    grid-column: 7;
    grid-row: 1;
  }
  .page .project-container:nth-child(2) {
    grid-column: 7;
    grid-row: 2;
  }
  .page .project-container:nth-child(3) {
    grid-column: 7;
    grid-row: 3;
  }
  .page .project-container:hover img.project-image {
    border-radius: 0;
    transform: scale(1.1);
    transform: translate(-60%);
    z-index: 2;
  }
  .page .project-container:hover .description {
    margin-left: 0;
    opacity: 1;
    transform: translate(45%);
    z-index: 3;
  }
  .page .project-container:hover .project-tools {
    display: none;
  }
  .page .form {
    grid-column: 3/11;
  }
  .svg#forest {
    bottom: -1%;
  }
  .svg#forest img {
    min-width: 100vw;
    height: 60vw;
  }
}
@-moz-keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 15px);
  }
}
@-webkit-keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 15px);
  }
}
@-o-keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 15px);
  }
}
@keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 15px);
  }
}
