*,
*:before,
*:after {
  list-style: none;
}
nav {
  height: 150px;
  font-size: 20px;
  background-color: #2bbbad;
}
a {
  color: #fff;
  text-decoration: none;
}
section {
  padding-top: 10vh;
}
footer {
  width: 100%;
  background-color: #2bbbad;
  margin-top: 10vh;
}
.container {
  max-width: 1000px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}
.who-am-i {
  height: fit-content;
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 10em;
}
.who-am-i h2 {
  text-shadow: -1px 0 1px #848383, 0 1px 1px #000, 1px 0 1px #000, 0 -1px 1px #000;
  z-index: 2;
  color: #fff;
}
.who-am-i h2 strong {
  color: #2bbbad;
}
.who-am-i-image {
  object-fit: cover;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.what-have-i-done {
  display: flex;
}
.what-have-i-done .item {
  width: 20%;
  height: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #2bbbad 5px solid;
  border-radius: 15px;
}
.contact {
  color: #fff;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}
.social-link.twitter {
  background-image: url("/../../images/twitter.svg");
}
.social-link.facebook {
  background-image: url("/../../images/facebook.svg");
}
.social-link.github {
  background-image: url("/../../images/github.svg");
}
.social-link.instagram {
  background-image: url("/../../images/instagram.svg");
}
