* {
  box-sizing: border-box;
  color: #c5c8c6;
  font-family: 'Open Sans', sans-serif;
  font-size: 5vh;
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.contact {
  align-items: center;
  animation: appear 6s ease 3s normal 1 forwards;
  display: flex;
  float: right;
  justify-content: flex-end;
  margin-top: 0.2rem;
  opacity: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.contact p {
  font-size: 0.3rem;
  cursor: pointer;
}
.contact img {
  cursor: pointer;
  margin-right: 0.2rem;
  height: 1rem;
}
.navigation {
  animation: appear 6s ease 2s normal 1 forwards;
  display: flex;
  flex-direction: column;
  left: 95%;
  opacity: 0;
  position: fixed;
  top: 37.5%;
  z-index: 2;
}
.navigation ul {
  width: 0.75rem;
  list-style: none;
  position: absolute;
}
.navigation ul li {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 0.7rem;
}
.navigation img {
  cursor: pointer;
  height: 0.5rem;
}
.navigation img:hover {
  height: 0.6rem;
}
.container {
  bottom: 0;
  height: 100vh;
  position: relative;
  width: 100vw;
}
.page {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(24, calc(100vw / 24));
  grid-template-rows: repeat(3, calc(100vh / 3));
  height: 100vh;
  justify-items: center;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.page:nth-child(1) {
  background-image: linear-gradient(#000, #0e0d3b);
}
.page:nth-child(2) {
  background-image: linear-gradient(#0e0d3b, #2e1c54);
}
.page:nth-child(3) {
  background-image: linear-gradient(#2e1c54, #2d132c);
}
.page:nth-child(4) {
  background-image: linear-gradient(#2d132c, #801336);
}
.page:nth-child(5) {
  background-image: linear-gradient(#801336, #c72c41);
}
.page:nth-child(6) {
  background-image: linear-gradient(#c72c41, #ee4540);
}
.page .brand {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: 1/25;
  justify-content: center;
  grid-row: 2;
  width: 100%;
}
.page .brand h1 {
  color: #06051a;
  font-size: 2rem;
  position: relative;
}
.page .brand h1::before {
  animation: animate_name calc(.5 * 12s) linear infinite;
  border-right: 2px solid #c72c41;
  content: attr(data-text);
  color: #c72c41;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 0;
  -webkit-text-stroke: 0vw #383d52;
}
.page .brand h6 {
  color: #070720;
  font-weight: lighter;
  font-size: 1rem;
  position: relative;
}
.page .brand h6::before {
  animation: animate_title calc(.5 * 12s) linear infinite;
  border-right: 2px solid #c5c8c6;
  content: attr(data-text);
  color: #c5c8c6;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 0;
}
.page .brand img {
  animation: appear 5s 1s 1 normal ease forwards;
  height: 2rem;
  opacity: 0;
}
.page .brand .arrow {
  animation: bounce 2s ease-out 0s normal infinite;
  cursor: pointer;
  margin-top: 2rem;
  max-height: 1rem;
}
.page .brand .arrow img {
  height: 1rem;
  transition: 0.25s ease;
}
.page .brand .arrow:hover {
  animation-play-state: paused;
}
.page .brand .arrow:hover img {
  transform: scale(1.5);
}
.page .about {
  grid-column: 4/16;
  grid-row: 2;
}
.page .about p {
  font-size: 0.5rem;
  margin-top: 1.5rem;
}
.page .about p b {
  color: #c72c41;
  font-size: 0.525rem;
}
.page .project-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-row: 2;
  justify-content: center;
}
.page .project-container img.project-image {
  border-radius: 1%;
  cursor: pointer;
  height: 20vh;
  position: absolute;
  transition: transform 0.25s ease, border-radius 0.5s ease;
}
.page .project-container .description {
  background-color: #c72c41;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  min-height: calc(20vh * 1.5);
  margin-left: -9999px;
  opacity: 0;
  transition: 0.25s transform ease, opacity 1s ease;
  width: calc(20vh * 1.4);
}
.page .project-container .description .tittle {
  align-items: center;
  background-color: #0e0d3b;
  display: flex;
  height: 2rem;
  justify-content: center;
  width: 100%;
}
.page .project-container .description .tittle h1 {
  color: #c72c41;
  font-size: 0.5rem;
  text-align: center;
}
.page .project-container .description .tools {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 1.6rem;
  width: 100%;
}
.page .project-container .description .tools img {
  background-color: #fff;
  margin: 0.1rem;
  height: 0.8rem;
  padding: 0.07rem;
  width: 0.8rem;
}
.page .project-container .description .summary {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
}
.page .project-container .description .summary p {
  color: #c5c8c6;
  font-size: 0.4rem;
  height: fit-content;
  padding: 0.5rem;
  text-align: justify;
}
.page .project-container .description .summary p b,
.page .project-container .description .summary p a {
  color: #0e0d3b;
  font-size: inherit;
  text-decoration: none;
}
.page .project-container .description img {
  height: calc(20vh / 6);
}
.page .project-container .tools {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 61%;
  width: 20vh;
}
.page .project-container .tools img {
  background-color: #fff;
  height: 0.8rem;
  width: 0.8rem;
}
.page .project-container .tools > img {
  align-items: center;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  padding: 0.07rem;
}
.page .project-container:nth-child(1) {
  grid-column: 4/8;
}
.page .project-container:nth-child(2) {
  grid-column: 9/13;
}
.page .project-container:nth-child(3) {
  grid-column: 14/18;
}
.page .project-container:hover img.project-image {
  border-radius: 0;
  transform: scale(1.5);
  z-index: 2;
}
.page .project-container:hover .description {
  margin-left: 2rem;
  opacity: 1;
  transform: translate(100%);
  z-index: 3;
}
.page .form {
  grid-column: 9/17;
  grid-row: 1;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.page .form form {
  font-size: 0.5rem;
}
.page .form form label {
  font-size: inherit;
}
.page .form form input {
  font-size: inherit;
  height: 0.75rem;
}
.page .form form textarea {
  background: transparent;
  color: transparent;
  font-size: inherit;
  height: 20vh;
  resize: none;
}
.page .form form .btn {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  font-weight: 400;
  height: 2em;
  line-height: 1.5;
  margin-top: 1em;
  padding: 0 0.75rem;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  vertical-align: middle;
}
.page .form form .btn:hover {
  color: #000;
  background-color: #e2e6ea;
  border-color: #e2e6ea;
}
.page .form form .form-control {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #495057;
  display: block;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  width: 100%;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.page .form form .form-control:focus {
  border: 1px solid #ced4da;
  outline: none;
}
.svg img {
  width: 25vh;
}
.svg#space-ship {
  animation: dropdown 0.75s cubic-bezier(0, 1.36, 0.77, 1.9) 1.5s normal 1 forwards, reel 6s linear 2.25s normal infinite;
  grid-column-start: 4;
  grid-column-end: 10;
  opacity: 0;
}
.svg#rocket {
  grid-column: 16/24;
  grid-row: 3;
}
.svg#meteorite {
  grid-column: 10/16;
  grid-row: 1;
}
.svg#meteorites {
  grid-column: 18/24;
  grid-row: 3;
}
.svg#plane {
  grid-column: 2/8;
  grid-row: 3;
}
.svg#cloud {
  grid-column: 2/8;
  grid-row: 3;
}
.svg#birds {
  grid-column: 18/20;
}
@media only screen and (max-aspect-ratio: 4/3) {
  * {
    font-size: 3vh;
  }
  .contact p {
    font-size: 0.5rem;
  }
  .contact img {
    margin-right: 0.5rem;
    height: 1.5rem;
  }
  .page .brand h1 {
    font-size: 1.5rem;
  }
  .page .about {
    grid-column: 8/20;
    grid-row: 2;
  }
  .page .project-container .description {
    border-radius: 10%;
    min-height: 0;
    height: 20vh;
    transition: 0.25s transform ease, opacity 0s ease;
  }
  .page .project-container .description p {
    font-size: 0.6rem;
  }
  .page .project-container .tools {
    top: auto;
  }
  .page .project-container .tools img {
    background-color: #fff;
    height: 1.3rem;
    width: 1.3rem;
  }
  .page .project-container img.project-image {
    border-radius: 100%;
  }
  .page .project-container:nth-child(1) {
    grid-column: 13;
    grid-row: 1;
  }
  .page .project-container:nth-child(2) {
    grid-column: 13;
    grid-row: 2;
  }
  .page .project-container:nth-child(3) {
    grid-column: 13;
    grid-row: 3;
  }
  .page .project-container:hover img.project-image {
    border-radius: 0;
    transform: translate(-60%, -30%);
    z-index: 2;
  }
  .page .project-container:hover .description {
    margin-left: 0;
    opacity: 1;
    transform: translate(0%, 30%);
    z-index: 3;
  }
  .page .project-container:hover .project-tools {
    display: none;
  }
  .page .form {
    grid-column: 4/22;
  }
  .svg#meteorite {
    grid-column: 1/16;
  }
  .svg#birds {
    grid-column: 15;
    grid-row: 2;
  }
}
@-moz-keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 15px);
  }
}
@-webkit-keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 15px);
  }
}
@-o-keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 15px);
  }
}
@keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 15px);
  }
}
@-moz-keyframes animate_name {
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  8% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  12% {
    opacity: 0;
  }
  14% {
    opacity: 1;
  }
  16%, 100% {
    width: 0;
  }
  39%, 95% {
    width: 100%;
  }
}
@-webkit-keyframes animate_name {
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  8% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  12% {
    opacity: 0;
  }
  14% {
    opacity: 1;
  }
  16%, 100% {
    width: 0;
  }
  39%, 95% {
    width: 100%;
  }
}
@-o-keyframes animate_name {
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  8% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  12% {
    opacity: 0;
  }
  14% {
    opacity: 1;
  }
  16%, 100% {
    width: 0;
  }
  39%, 95% {
    width: 100%;
  }
}
@keyframes animate_name {
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  8% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  12% {
    opacity: 0;
  }
  14% {
    opacity: 1;
  }
  16%, 100% {
    width: 0;
  }
  39%, 95% {
    width: 100%;
  }
}
@-moz-keyframes animate_title {
  0% {
    opacity: 1;
  }
  3% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  12% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  24% {
    opacity: 1;
  }
  27% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  36% {
    opacity: 1;
  }
  39% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  44%, 100% {
    width: 0;
  }
  60%, 95% {
    width: 100%;
  }
}
@-webkit-keyframes animate_title {
  0% {
    opacity: 1;
  }
  3% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  12% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  24% {
    opacity: 1;
  }
  27% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  36% {
    opacity: 1;
  }
  39% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  44%, 100% {
    width: 0;
  }
  60%, 95% {
    width: 100%;
  }
}
@-o-keyframes animate_title {
  0% {
    opacity: 1;
  }
  3% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  12% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  24% {
    opacity: 1;
  }
  27% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  36% {
    opacity: 1;
  }
  39% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  44%, 100% {
    width: 0;
  }
  60%, 95% {
    width: 100%;
  }
}
@keyframes animate_title {
  0% {
    opacity: 1;
  }
  3% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  12% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  24% {
    opacity: 1;
  }
  27% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  36% {
    opacity: 1;
  }
  39% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  44%, 100% {
    width: 0;
  }
  60%, 95% {
    width: 100%;
  }
}
@-moz-keyframes dropdown {
  0% {
    opacity: 1;
    transform: translate(0, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-webkit-keyframes dropdown {
  0% {
    opacity: 1;
    transform: translate(0, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-o-keyframes dropdown {
  0% {
    opacity: 1;
    transform: translate(0, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes dropdown {
  0% {
    opacity: 1;
    transform: translate(0, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-moz-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes reel {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes reel {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-o-keyframes reel {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes reel {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
