font-color = #C5C8C6
color-1 = #000000
color-2 = #0E0D3B
color-3 = #2E1C54
color-4 = #2D132C
color-5 = #801336
color-6 = #C72C41
color-7 = #EE4540

highlight-color-1 = color-6
highlight-color-2 = color-2

description-tittle-background-color = color-2
description-background-color = color-6
description-text-color = font-color

*
  box-sizing border-box
  color font-color
  font-family: 'Open Sans', sans-serif;
  // font-family: 'Roboto', sans-serif;
  font-size 5vh
  margin 0
  padding 0
  text-align center

body
  height 100vh
  overflow hidden
  position relative
  width 100%

.contact
  align-items center
  display flex
  float right
  justify-content flex-end
  margin-top .2rem
  position fixed
  width 100%
  z-index 2
  & p
    font-size .3rem
    cursor pointer
  & img
    cursor pointer
    margin-right .2rem
    height 1rem

.navigation
  display flex
  flex-direction column
  left 95%
  position fixed
  top 37.5%
  z-index 2
  & ul
    width .75rem
    list-style none
    position absolute
    & li
      align-items center
      display flex
      justify-content center
      height .7rem
  & img
    cursor pointer
    // margin-top .1rem
    height .5rem
    &:hover
      height .6rem

.container
  bottom 0
  height 100vh
  position relative
  width 100vw

.page
  align-items center
  display grid
  grid-template-columns  repeat(24, calc(100vw/24))
  grid-template-rows   repeat(3, calc(100vh/3))
  height 100vh
  justify-items center
  overflow hidden
  position absolute
  width 100%
  &:nth-child(1)
    background-image linear-gradient(color-1, color-2)
  &:nth-child(2)
    background-image linear-gradient(color-2, color-3)
  &:nth-child(3)
    background-image linear-gradient(color-3, color-4)
  &:nth-child(4)
    background-image linear-gradient(color-4, color-5)
  &:nth-child(5)
    background-image linear-gradient( color-5, color-6)
  &:nth-child(6)
    background-image linear-gradient( color-6, color-7)

  & .brand
    align-items center
    display flex
    flex-direction column
    grid-column 1/25
    justify-content center
    grid-row 2
    width 100%
    brand_animation_duration = 12s
    & h1
        color #070720
        font-size 2rem
        position relative
        &::before
            animation animate_name "calc(.5 * %s)" % brand_animation_duration linear infinite
            border-right 2px solid highlight-color-1
            content attr(data-text)
            color highlight-color-1
            height 100%
            left 0
            overflow hidden
            position absolute
            top 0
            width 0
            -webkit-text-stroke 0vw #383d52
    & h6
      color #070720
      font-weight lighter
      font-size 1rem
      position relative
      &::before
        animation animate_title "calc(.5 * %s)" % brand_animation_duration linear infinite
        border-right 2px solid font-color
        content attr(data-text)
        color font-color
        height 100%
        left 0
        overflow hidden
        position absolute
        top 0
        width 0


    & img
      height 2rem

    & .arrow
      animation-duration 2s
      animation-iteration-count infinite
      animation-name bounce
      animation-timing-function ease-out
      cursor pointer
      margin-top 2rem
      max-height 1rem
      & img
        height 1rem
        transition 0.25s ease

      &:hover
        animation-play-state paused

      &:hover img
        transform scale(1.5)

  & .about
    grid-column 4/16
    grid-row 2

    & p
      font-size .5rem
      margin-top 1.5rem

      & b
        color highlight-color-1
        font-size .525rem

  initial-project-image-size = 20vh
  & .project-container
    align-items center
    display flex
    flex-direction column
    grid-row 2
    justify-content center
    & img.project-image
      border-radius 1%
      cursor pointer
      height initial-project-image-size
      position absolute
      transition transform .25s ease, border-radius .5s ease

    & .description
      background-color description-background-color
      border-radius 1%
      display flex
      flex-direction column
      min-height "calc(%s * 1.5)" % initial-project-image-size
      margin-left -9999px
      opacity 0
      transition .25s transform ease, opacity 1s ease
      width "calc(%s * 1.4)" % initial-project-image-size
      & .tittle
        align-items center
        background-color description-tittle-background-color
        display flex
        height 2rem
        justify-content center
        width 100%
        & h1
          color highlight-color-1
          font-size .5rem
          text-align center

      & .tools
        display flex
        justify-content center
        position absolute
        top 1.6rem
        width 100%
        & img
          background-color white
          margin .1rem
          height .8rem
          padding .07rem
          width .8rem
      & .summary
        display flex
        flex-grow 2
        justify-content center
        align-items center
        & p
          color description-text-color
          font-size .4rem
          height fit-content
          padding .5rem
          text-align justify
          & b, a
            color highlight-color-2
            font-size inherit
            text-decoration none

      & img
        height "calc(%s / 6)" % initial-project-image-size

    & .tools
      display flex
      justify-content space-around
      position absolute
      top 61%
      width initial-project-image-size
      & img
        background-color white
        height 0.8rem
        width 0.8rem

    & .tools > img
      align-items center
      border-radius 100%
      display flex
      justify-content center
      padding .07rem

    &:nth-child(1)
      grid-column 4/8

    &:nth-child(2)
      grid-column 9/13

    &:nth-child(3)
      grid-column 14/18

    &:hover img.project-image
      border-radius 0
      transform scale(1.5)
      z-index 2

    &:hover .description
      margin-left: 2rem
      opacity 1
      transform translate(100%)
      z-index 3

  & .form
    grid-column 9/17
    grid-row 1
    position absolute
    width 100%
    z-index 2
    & form
      font-size .5rem
      & label
        font-size inherit

      & input
        font-size inherit
        height .75rem

      & textarea
        background: transparent
        color: transparent;
        font-size inherit
        height 20vh
        resize: none;
      & .btn
        background-color: #f8f9fa;
        border-color: #f8f9fa;
        border: 1px solid transparent;
        border-radius: .25rem;
        color: black;
        cursor pointer
        display: inline-block;
        font-size: inherit ;
        font-weight: 400;
        height 2em
        line-height: 1.5;
        margin-top 1em
        padding: 0 .75rem;
        text-align: center;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        vertical-align: middle;
        &:hover
          color: black ;
          background-color: #E2E6EA;
          border-color: #E2E6EA;

      & .form-control
        background-clip padding-box
        background-color #fff
        border 1px solid #ced4da
        border-radius .25rem
        color #495057
        display block
        font-size inherit
        font-weight 400
        line-height 1.5
        padding .375rem .75rem
        width 100%
        transition border-color .15s ease-in-out,box-shadow .15s ease-in-out
        &:focus
          border 1px solid #ced4da
          outline none

.svg
  & img
    width 25vh
  &#space-ship
    grid-column-start 4
    grid-column-end 10
  &#rocket
    grid-column 16/24
    grid-row 3
  &#meteorite
    grid-column 10/16
    grid-row 1
  &#meteorites
    grid-column 18/24
    grid-row 3
  &#plane
    grid-column 2/8
    grid-row 3
  &#cloud
    grid-column 2/8
    grid-row 3
  &#birds
    grid-column 18/20

@keyframes bounce
  0%
    transform translate(0px, 0px)
  50%
    transform translate(0px, 15px)
  100%


@keyframes animate_name
  2%
    opacity 1
  4%
    opacity 0
  6%
    opacity 1
  8%
    opacity 0
  10%
    opacity 1
  12%
    opacity 0
  14%
    opacity 1
  16%,100%
    width 0
  39%,95%
    width 100%

@keyframes animate_title
  0%
    opacity 1
  3%
    opacity 0
  6%
    opacity 1
  12%
    opacity 0
  15%
    opacity 1
  18%
    opacity 1
  21%
    opacity 0
  24%
    opacity 1
  27%
    opacity 0
  30%
    opacity 1
  33%
    opacity 0
  36%
    opacity 1
  39%
    opacity 0
  41%
    opacity 1
  44%, 100%
    width 0
  60%, 95%
    width 100%

@media only screen and (max-aspect-ratio 4/3)
  initial-project-image-size = 20vh
  *
    font-size 3vh
  .contact
    & p
      font-size .5rem
    & img
      margin-right .5rem
      height 1.5rem

  .page
    & .about
      grid-column 8/20
      grid-row 2

    & .project-container
      & .description
        border-radius 10%
        min-height 0
        height initial-project-image-size
        // max-width "calc(%s * 1.1)" % initial-project-image-size
        transition .25s transform ease, opacity 0s ease
        & p
          font-size .6rem
      & .tools
        top: auto
        & img
          background-color white
          height 1.3rem
          width 1.3rem
      & img.project-image
        border-radius 100%

      &:nth-child(1)
        grid-column 13
        grid-row 1

      &:nth-child(2)
        grid-column 13
        grid-row 2

      &:nth-child(3)
        grid-column 13
        grid-row 3

      &:hover img.project-image
        border-radius 0
        // transform scale(1.1)
        transform translate(-60%, -30%)
        z-index 2

      &:hover .description
        margin-left: 0
        opacity 1
        transform translate(0%, 30%)
        z-index 3

      &:hover .project-tools
        display none

    & .form
      grid-column 4/22

  & .svg
    &#meteorite
      grid-column 1/16
    &#birds
      grid-column 15
      grid-row 2
